<% provide(:title, "Signup") %>
<h1>Signup!</h1>
<%= render 'shared/error_messages' %>
<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit "Signup" %>
<% end %>
