<% provide(:title, "New Event") %>
<h1>New Event</h1>
<%= form_for @event, url: events_path do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<br>
	<%= f.label :description %><br>
	<%= f.text_area :description, placeholder: "Describe your event here...", cols: 40, rows: 20 %>
	<%= f.submit "Submit" %>
<% end %>